_________________________________________________________

//Requirements for sRNARFTarget

  1. Python3

  2. Nextflow

  3. Python modules:

        pickle
        Bio
        pprint
        skbio
        itertools
        sklearn
        pandas
        numpy
_________________________________________________________


//Requirements for sRNARFTarget_SHAP and sRNARFTarget_CP

  1. Python3

  2. Python modules

        shap
        pyCeterisParibus
        pickle
        pandas
        numpy
        sklearn
        matplotlib
_________________________________________________________
